<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ss.onlineTest.mapper.AdminMapper">
	<select id="adminLogin" parameterType="Map" resultType="Admin">
		select aid,a.pid,aname,pwd,pname from admin a,part p where a.pid=p.pid and aname=#{account} and pwd=#{pwd}
	</select>

	<select id="menuInfo" resultMap="menuInfos" parameterType="int">
		select poid,p.iid,iname,i.mid,mname,urls from power p,menuItem i,menu m where aid=#{aid} and p.iid=i.iid and m.mid=i.mid order by poid
	</select>

	<resultMap type="Menu" id="menuInfos">
		<id column="mid" property="id" />
		<result column="mname" property="text" />

		<collection property="children" ofType="MenuItem">
			<id column="iid" property="id" />
			<result column="iname" property="text" />

			<association property="attributes" javaType="Attributes">
				<result property="url" column="urls" />
			</association>
		</collection>
	</resultMap>
</mapper>
